body{
  /*  background: #f5f5f5; */
}
*{
	font-family: "Microsoft YaHei",Helvetica,Arial,sans-serif;
}
/*扁平化效果*/
input.form-control, input.btn, button.btn, a.btn, select.form-control, textarea.form-control{
	border-radius: 0;
}

/*分页*/
div.pagination, ul.pagination{
	margin: 0;
}

.input-append{
    margin-bottom: 0;
    vertical-align: middle;
    font-size: 0;
    white-space: nowrap;
}

/*公共表单样式*/
.select_class label.control-label{
	    width: 94px;
}
/* .select_class input.form-control{
	 display: inline-block;
  		width: 90%;
}
	}
.select_class select.form-control{
  		width: 90%;
} */
.select_class .form-control{
	 display: inline-block;
	 width:90%;
}


.select_class label.error{
    position: absolute;
    width: 150px;
    top: 13px;
}
 

.select_class .selectbox_btn{
	position: static; 
    margin-left: -25px;
    padding: 0px;		
}

a:hover{ text-decoration: none; } 
li{
	margin:0;padding:0;
	list-style-type: none;
}

/**原版更改 2016-1-7 djj分页改版start*/
.page-count-text{
	padding-left:30px;
	float:left!important;
	margin-top: 5px;
	color: #a7a7a7;
	margin-left: 0 !important;
}
.page-skip{
    display:inline-block;
    margin-top:5px;
    padding-left:15px;
    float: left!important;
    color: #a7a7a7;
    margin-left: 0 !important;
}
.edit-pageNo{
	margin-left: 5px;
	margin-right: 5px;
	width: 28px;
	height: 28px;
	line-height: 30px;
	border: 1px solid #eaeaea;
	border-radius: 5px;
	text-align: center;
}
.pagination .controls{
	display: none;
}
div.pagination{
	margin-left: 0 !important;
	position: relative;
	width: 100%;
	height: 60px;
	line-height: 60px;	
}
ul.pagination{
/* 	position: absolute;
	right: 20px; */
	margin-top: 18px;
	float: right;
	padding-right: 20px;
}
.pagination>li>a, .pagination>li>span{
	padding: 0;
	margin-left: 8px;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #666;
    border-radius: 5px;
    border: 1px solid #eaeaea;
}
.pagination>li>a:HOVER, .pagination>li>span:HOVER{
	background-color:white;
	border-color:#65A7F3;
}
.pagination .controls input{
	border: 1px solid #a7a7a7;
	margin: -3px 8px 0 8px;
	width: 25px;
	height: 23px;
}
.disabled.controls a{
	padding-right: 40px;
}
/* .pagination>li:last-child>a, .pagination>li:last-child>span{ */
/* 	border-top-right-radius: 0px; */
/* 	border-bottom-right-radius: 0px; */
/* } */
/**原版更改 2016-1-7 djj分页改版end*/

/******红色提示*****/
.hint-red{
	color:red;
	font-size:12px;
}
/******蓝色提示*****/
.hint-blue{
	color:#65A7F3;
	font-size:12px;
}
/**文本缩略号**/
.ellipsis{	  	
 	text-overflow:ellipsis;
 	overflow:hidden;
 	white-space: nowrap; 
 }
/**鼠标显示为手指**/
.cursor-pointer {
	cursor: pointer !important;
}

/* zfy181213：统一系统样式 start */
/*按钮*/
.apm-btn {
	cursor: pointer !important;
}
.apm-border-radius {
	border-radius: 5px !important;
}
.apm-btn:hover, .apm-popup-close:hover, .btnAuto.apm-btn:hover {
	color: #fff !important;
	border-color: #2b87f1 !important;
	background: #2b87f1 !important;
	background-color: #2b87f1 !important;
}
.apm-btn:active, .apm-popup-close:active, .btnAuto.apm-btn:active {
	color: #fff !important;
	border-color: #0061d8 !important;
	background: #0061d8 !important;
	background-color: #0061d8 !important;
}
.apm-btn-default, .btnAuto.apm-btn-default {
	color: gray !important;
	border: 1px solid rgb(167,167,167) !important;
	background: #fff !important;
	background-color: #fff !important;
}
.apm-btn-panel, .btnAuto.apm-btn-panel {
	color: #65A7F3 !important;
	border: 1px solid #65A7F3 !important;
	background: #fff !important;
	background-color: #fff !important;
}
.apm-btn-theme, .btnAuto.apm-btn-theme {
	color: #fff !important;
	border: 1px solid #65A7F3 !important;
	background: #65A7F3 !important;
	background-color: #65A7F3 !important;
}

/*顶部菜单遮罩层*/
.apm-top-menu-mask {
	z-index: 80 !important;
	background: #fff !important;
    background-color: #fff !important;
    opacity: 0.8 !important;
    -moz-opacity: 0.8 !important;
    filter: alpha(opacity=80) !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
}

/*弹窗*/
.apm-popup-mask {
    background: #fff !important;
    background-color: #fff !important;
    opacity: 0.8 !important;
    -moz-opacity: 0.8 !important;
    filter: alpha(opacity=80) !important;
    position: fixed !important;
    top: 0px !important;
    left: 0px !important;
    width: 100% !important;
    height: 100% !important;
}
.apm-popup-win {
	box-shadow: rgba(101, 167, 243, 0.75) 0px 0px 20px !important;
    border: none !important;
}
.apm-popup-title, .apm-popup-title * {
	width: 100% !important;
	height: 40px !important;
	margin: 0 !important;
	padding: 0 !important;
	border-radius: 5px 5px 0px 0px !important;
	border: none !important;
    font-weight: normal !important;
    line-height: 40px !important;
    font-size: 16px !important;
    text-align: center !important;
}
.apm-popup-close {
	position: absolute !important;
    right: 0px !important;
    display: block !important;
    top: 0px !important;
    width: 40px !important;
    height: 40px !important;
    border-radius: 0px 5px 0px 0px !important;
    cursor: pointer !important;
}
.apm-popup-close>img {
	position: absolute !important;
    right: 12.5px !important;
    display: block !important;
    top: 12.5px !important;
    width: 15px !important;
    height: 15px !important;
    cursor: pointer !important;
}
.apm-popup-content {
	font-size: 14px !important;
}

/*鼠标*/
.backg_tpl_item, 
.backg_tpl_item_apply_to, 
.up-modal-m-i, 
.materialTab-list .item-thumb, 
.materialTab-list .item-name, 
.element.active, 
.sceneanim_item, 
.anim_item, 
.glyphicon, 
.edit-handle,
.segmentstarttime, 
.segmentendtime, 
.cell[onclick], 
.detailsGroup, 
.changeModel.expand>div, 
.changeModel.collapse>div, 
span.imgOnOff.disableColor, 
span.imgOnOff.switchOn, 
span.imgOnOff.disableColor+span.imgdel, 
span.imgOnOff.switchOn+span.imgdel, 
.keyx>.imgdel, 
#isShow1, #isShow1+label,  
#isShow2, #isShow2+label,
select#dataScope,
input#officeName[name="office.name"], 
input#menuName[name="parent.name"], 
input#beginDate, 
input#endDate, 
input#searchDateStartTime, 
input#searchDateEndTime, 
.edui-btn, 
.edui-button-label, 
.terminal-status>.items.online, 
.terminal-status>.items.disable, 
.terminal-status>.items.standby, 
.terminal-status>.items.leave {
	cursor: pointer !important;
}
.cursor-move {
	cursor: move !important;
}
.cursor-not-allowed, 
a.btnx-color-gray, 
span.disableColor, 
.detailPortSetUnit.unitDisabled .port {
	cursor: not-allowed !important;
}
.cursor-default {
	cursor: default !important;
}

/*动画*/
.apm-animation-zoom{-webkit-animation:apm-fade-scale .25s backwards;animation:apm-fade-scale .25s backwards}
@-webkit-keyframes apm-fade-scale{0%{opacity:0;-webkit-transform:scale(.2);-o-transform:scale(.2);transform:scale(.2)}100%{opacity:1;-webkit-transform:scale(1);-o-transform:scale(1);transform:scale(1)}}@keyframes apm-fade-scale{0%{opacity:0;-webkit-transform:scale(.2);-o-transform:scale(.2);transform:scale(.2)}100%{opacity:1;-webkit-transform:scale(1);-o-transform:scale(1);transform:scale(1)}}

/** 英文词条下特殊处理全局样式 **/
/* 首页 */
.apm-i18n-en #terminalChart, .apm-i18n-en .terminal-cont-left, .apm-i18n-en .terminal-cont-data-left {
	margin-right: 35px;
}
.apm-i18n-en #win_guideLeft .win-guide-type {
	height: auto;
}
.apm-i18n-en .nodata-capacity-unopen-txt {
	font-size: 15px;
}
.apm-i18n-en .apm-popup-content #webName {
	vertical-align: top;
    display: inline-block;
}
.apm-i18n-en .materialTab-list .item-thumb .item-btn {
	top: 40px;
}
.apm-i18n-en .createProgram .item-btn>a {
	width: 180px !important;
}
.apm-i18n-en .createProgram .item-btn>a:nth-child(2) {
	margin-top: 20px !important;
}
.apm-i18n-en .newProgramContent .screenOne-ul li, .apm-i18n-en .newProgramContent .screenTwo-ul li {
	margin-right: 5px;
}
.apm-i18n-en .newProgramContent .div-lineone .hint-red.hint-red-left {
	top: 55px !important;
}
.apm-i18n-en .content-main-edit .canvas-scale-bxslider-title {
	width: 150px;
}
.apm-i18n-en .content-main-edit .program-info-div.program-soundset {
	position: relative;
    top: -20px;
}
.apm-i18n-en #displaysetupbox .displaysetupbox-input {
	margin-left: 10px;
}
.apm-i18n-en .touch_property .touch_property_middle {
	height: auto;
}
.apm-i18n-en .touch_property .touch_property_close {
	margin-left: 10px;
}
.apm-i18n-en .op-label-item.img_edit_area .btnx.pull-right.mr-10.emptyimg {
	margin: 10px;
}
.apm-i18n-en #jumpMaterialModal .header-middle {
	margin-left: 155px;
}
.apm-i18n-en .op-label-item.item-style .tq-info-text {
	max-width: 85px;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space: nowrap; 
}
.apm-i18n-en .detail-item-content.terminal-info .terminal-info-left {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap; 
}
.apm-i18n-en .notFoundMessage {
	width: 500px;
	margin-left: -250px;
}
.apm-i18n-en .materialLabel .label-type {
	width: 90px;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space: nowrap; 
}
.apm-i18n-en #sure_delete_btn1, .apm-i18n-en #sure_delete_btn2 {
	width: auto !important;
    padding: 0 10px;
}
.apm-i18n-en .setup .double-screen {
	margin-bottom: 35px;
}
.apm-i18n-en .setup .double-screen>.item-title3 {
	vertical-align: middle;
}
.apm-i18n-en .setup #startTime-warning, .apm-i18n-en .setup #endTime-warning {
	width: 180px;
	left: 0;
	top: 30px;
}
.apm-i18n-en .setup .startTime, .apm-i18n-en .setup .endTime {
	position: relative;
}
.apm-i18n-en #createCheckStatusInfoDiv {
	width: 650px !important;
}
.apm-i18n-en #confirm .confirmInfo.apm-popup-content {
	width: 230px;
}
.apm-i18n-en .resolution-status.apm-input .status-custom .other-px, .apm-i18n-en .resolution-status.apm-input .status-custom .other-px + div {
	height: auto;
	text-align: left;
}
.apm-i18n-en .resolution-status.apm-input .status-custom .other-px + div>span:first-child {
	display: block;
}
.apm-i18n-en .nav-tabs#mytab>li>a {
	margin-right: 1px;
}
.apm-i18n-en .detailPortSetUnit .port, .apm-i18n-en .detailTimeSetItemUnit .port {
	height: auto;
}
.apm-i18n-en #formatSet .format-title {
	width: 270px !important;
}
.apm-i18n-en .row1.preModel .row1_right, .apm-i18n-en .row1.programParallelDownload .row1_right {
	max-width: 1000px;
}
.apm-i18n-en .div_content .row1.preModel, .apm-i18n-en .div_content .row1.programParallelDownload {
	height: 108px;
}
.apm-i18n-en .advertiser-group #sel-advertiser + .dropdown-menu li {
	padding-left: 2px;
}
.apm-i18n-en #jbox-states .jbox-button.jbox-button-focus {
	width: auto !important;
	padding: 0 10px;
}
.apm-i18n-en #saveFailedMsgBottom #notFixBtn {
	width: auto !important;
    padding: 0 10px;
}
.apm-i18n-en .update_content_line > span:first-child {
	width: 70px !important;
}

@media screen and (max-width: 1600px) {
	.apm-i18n-en .content-main-edit .canvas-scale-bxslider-tools {
		margin-top: 0px;
	}
	.apm-i18n-en .content-main-edit .program-info.program-guides {
		top: -20px !important;
	}
	.apm-i18n-en .content-main-edit .program-info-div {
		padding-right: 0;
	}
	.apm-i18n-en .create-top .switchPage {
		left: 19%;
	}
	.apm-i18n-en .create-top .switchPage div {
		padding: 6px;
	}
	.apm-i18n-en .content-main-edit .program-info-div.program-soundset {
		position: static;
		top: unset;
	}
	.apm-i18n-en .content-main-edit .program-info-div.program-name .program-info-text {
		max-width: 50px;
	}
	.apm-i18n-en #applyToModal h4.modal-title.apply-title {
		max-width: 200px;
		text-overflow:ellipsis;
		overflow:hidden;
		white-space: nowrap; 
	}
	
}
@media screen and (max-width: 1367px) {
	.apm-i18n-en .setup #startTime-warning, .apm-i18n-en .setup #endTime-warning {
		left: unset;
		top: unset;
	}
}
/* zfy181213：统一系统样式 end */
